<p>What up, Gee!</p>
<p>
    Congrats!  <b>A comment has been added on Nomster.</b>
    Check out what they had to say <%= link_to 'here', place_url(@place) %>.
</p>

Greetings earthling,<br />
Stefan