@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "../node_modules/rfs/scss";

body {
  background: image_url('round.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico';
  margin: 0;
  padding: 0;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: #444444;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;  
}

h4 {
  font-size: 1.2rem;  
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;  
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\201C""\201D";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.clear {
    clear: both;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px;  
}

.navbar, footer {
  background: image_url('dark_fish_skin.png');
  box-shadow: 0px 2px 3px #666666;
}

.nav-link {
  font-size: 1em;
}

.navbar-inverse .navbar-brand {
  color: #F7B733;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav a, footer, footer a, footer a:hover {
  color: white;
  font-family: 'Lato';
  font-weight: 700;
}

#map {
  height: 300px;
}

.booyah-box {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin: 10px auto 15px;
  padding: 20px;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.my-auto {
  margin: auto;
}

// Pagination
.pagination {
  background: white;
  cursor: default;
  height: 32px;
  a, span, em {
    padding: 0em 0.5em 0.3em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #dddddd;
    color: 888888;
    border: 1px solid #dddddd;
  }
  a {
    text-decoration: none;
    color: #444444;
    border: 1px solid #aaaaaa;
    &:hover, &:focus {
      color: #888888;
      border-color: #aaaaaa;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

// Carousel
.carousel {
  box-shadow: 0px 2px 2px #777777;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 800px;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.35);
  font-family: 'chunkfiveroman', Helvetica, sans-serif;
  font-size: 60px;
  left: 0;
  position: absolute;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  width: 100%;
}

/*
#4ABDAC Teal
#FC4A1A Orange
#F7B733 Yellow
#DFDCE3 Steel
*/
