@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "scss.scss";

.red {color: #ff0000;}
.blue {color: #0000ff;}
.yellow {color: #fff200;}
.black {color: #000000;}
.white {color: #ffffff;}
.house {font-family: 'houseslant';}
.extra-lrg {font-size: 5rem; line-height: 4rem;  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.35);}
hr{
    border: 0;
    border-bottom: 3px dotted #dddddd;
    background: none;
}

body { font-family: 'houseslant';}

a {
  color: #0000ff;
  text-decoration: none;
  &:hover, &:focus {
  text-decoration: none;
  color: #000000;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'houseslant';
  margin: 0;
  padding: 0;
}

h1 {
}

h2 {
  color: #333333;
}

h3 {
  color: #222222;
}

h4 {
  color: #111111;
}

h5 {
  color: #000000;
}

p.copyright {
  font-size: .6rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\201C""\201D";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.clear {
    clear: both;
}

.invalid-feedback {
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px;  
}

.navbar {
  background-color: #ffffff;
  box-shadow: 1px 1px 2px 0  rgba(55,55,55,.5);
  -moz-box-shadow: 1px 1px 2px 0  rgba(55,55,55,.5);
  -webkit-box-shadow: 1px 1px 2px 0  rgba(55,55,55,.5);
}

footer {
  background-color: #000000;  
}

.navbar-inverse .navbar-brand {
  font-family: 'houseslant', sans-serif;
}

.nav-link {
  font-size: 1.6rem;
  z-index: 9012;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  z-index: 9013;
}

.navbar-nav a, footer, footer a, footer a:hover {
  font-weight: 700;
}

#map {
  height: 300px;
}

.booyah-box {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin: 10px auto 15px;
  padding: 20px;
  box-shadow: 1px 1px 2px 0  rgba(55,55,55,.5);
  -moz-box-shadow: 1px 1px 2px 0  rgba(55,55,55,.5);
  -webkit-box-shadow: 1px 1px 2px 0  rgba(55,55,55,.5);
}

.my-auto {
  margin: auto;
}

// Pagination
.pagination {
  background: white;
  cursor: default;
  a, span, em {
    font-size: 2rem;
    padding: .05em .45em;
    display: inline-block;
    float: left;
    margin-right: 1px;
  }
  
  .disabled {
    display: none;
  }
  
  .current {
    font-style: normal;
    font-weight: bold;
    background: #dddddd;
    color: #888888;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    color: #444444;
    border: 1px solid #ffffff;
    border-radius: 5px;
    &:hover, &:focus {
      color: #888888;
      border: 1px solid #888888;
      border-radius: 5px;
      transition: background-color .3s;
      background-color: #cccccc;
    }
  }
  
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

// Carousel
.carousel {
  box-shadow: 0px 2px 2px #777777;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 800px;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 60px;
  left: 0;
  position: absolute;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  width: 100%;
}

/*
#4ABDAC Teal
#FC4A1A Orange
#F7B733 Yellow
#DFDCE3 Steel
*/

.logo {
  z-index: 9001;
  position: fixed;
}

#oval {
   background-color: #fff200;
   width: 250px; 
   height: 80px; 
   -moz-border-radius: 125px / 40px; 
   -webkit-border-radius: 125px / 40px; 
   border-radius: 125px / 40px;
   transform: rotate(-7deg);
     box-shadow: 2px 2px 2px 0  rgba(55,55,55,.5);
  -moz-box-shadow: 2px 2px 2px 0  rgba(55,55,55,.5);
  -webkit-box-shadow: 2px 2px 2px 0  rgba(55,55,55,.5);
   z-index:9000;
   margin: auto;
}

.centerOval {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}